.textfield {
  width: 100%;
  display: flex;
  margin: .6rem 0;
}


.textfield label{
    min-width: 200px;
    font-size: 1.2rem;
    font-weight: bold;
}

.textfield input{
    flex:1;
    margin-left: 1rem;
    border: 1px solid var(--_secondary);
    outline:  none;
    background-color:transparent;
    padding: 0 1rem;
    border-radius: 6px;
}
.textfield input:hover ,.textfield input:focus {
    border: 1px solid peru;
}