.project {
}

.project .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
.project .card_container > * {
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid var(--_secondary);
  border-left: 1px solid var(--_secondary);
  border-right: 1px solid var(--_secondary);
}
.project h2{
    color: var(--_secondary);
}
.project .image_container {
    overflow: hidden;
}
.project img {
  object-fit: contain;
  width: 100%;
  transition: all 0.4s ease-in;
}
.project .card:hover img {
  object-fit: cover;
  transform: scale(1.2) rotate(5deg);
}
.project button {
  width: 100px;
  height: 30px;
  /* margin: 1rem 1rem 0rem 0; */
  border: 1px solid var(--_secondary);
  background: transparent;
  color: var(--_secondary);
  transition: all .4s ease-in;
}
.project button:hover{
    background-color: var(--_secondary);
    cursor: pointer;
    color: var(--_light);
}