*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* default color of the website  */
:root {
    /* colors */
    --_primary : #9a6eff;
    --_primary_gradient : linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);
    --_secondary : orange;
    --_secondary_gradient : linear-gradient(to left, #f2994a, #f2c94c); 
    --_light : whitesmoke;
    --_dark : black;

    /* background: #667db6;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    /* font families  */
    --_logo_ff: 'Sigmar One', cursive;
}

html{
    scroll-behavior: smooth;
}

/* common css  */
.container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgba(197, 37, 37, 0.938);
}

.orange_text_h4{
    color: var(--_secondary);
    font-weight: 400;
    text-shadow: 1px 1px #333;
}


.content_title{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 800;
}

.content_title > span{
    font-size: .8rem;
    font-weight: 300;
    margin-left: 1rem;
}


@media(max-width : 960px){
  html{
    font-size: 80%;
  }   
}

@media(max-width : 768px){
    html{
        font-size: 70%;
      }   
}

/* test */
.main{
    padding: calc(100px + 10vh) 0;
    /* background: gray url(/images/bg.jpg); */
    min-height: 100vh;
    height: 100vh;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    height: 100%;
}

/* test */


/* scrollbar start */
::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-thumb{
    background: var(--_secondary_gradient);
    border-radius: 2rem;
}
/* scrollbar end */
