.admin {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(176, 196, 222, 0.425);
  display: flex;
  justify-content: center;
}

.admin .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.admin .dropzone {
  padding:1rem 0;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  border-radius: 0.5rem;
  border: 2px dashed var(--_secondary);
  background-color: rgba(255, 153, 0, 0.158);
}
.dropzone span{
  font-size : 14px;
}

.actual_file {
  display: none;
}
.file_label {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  text-shadow: 1px 0.4px rgba(0, 0, 0, 0.479);
  background-color: var(--_secondary);
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all .5s ease;
  z-index: 100;
}
.file_label:hover{
  background-color: rgb(255, 136, 0);
}
.upload_btn{  
  margin: 2rem 0;
}
.dropzone h1{
  font-style: italic;
}
.admin .submit{
  width:100%;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  text-shadow: 1px 0.4px rgba(0, 0, 0, 0.479);
  background-color: var(--_secondary);
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all .5s ease;
  z-index: 100;
}
.admin .submit:hover{
  background-color: rgb(255, 136, 0);
  transform: translateY(5px);
}