.interest {
  padding: 2rem 0;
  min-height: 100vh;
}
.interest_content {
  display: grid;
  grid-template-areas:
    "medium medium large large large"
    "medium medium large large large"
    "medium2 medium2 large large large"
    "medium2 medium2 small tall tall"
    "wide wide wide tall tall"
    "wide wide wide tall tall";
  min-height: 85vh;
  margin: 2rem 0;
}

.interest_content .medium {
  grid-area: medium;
  background: url(../../../../assets/images/coding.jpg);
  background-color: rgba(0, 0, 0, 0.719);
  background-blend-mode: multiply;
  color: whitesmoke;
  background-size: cover;
  background-position: center;
}
.interest_content .medium.item3 {
  grid-area: medium2;
}
.interest_content .large {
  grid-area: large;

  background: url(../../../../assets/images/robot.jpg);
  background-color: rgba(31, 21, 7, 0.719);
  background-blend-mode: multiply;
  color: whitesmoke;
  background-size: cover;
  background-position: center;
}

.interest_content .small {
  grid-area: small;
}

.interest_content .tall {
  grid-area: tall;
}

.interest_content .wide {
  grid-area: wide;
  background: url(../../../../assets/images/learning.jpg);
  background-color: rgba(31, 21, 7, 0.719);
  background-blend-mode: multiply;
  color: whitesmoke;
  background-size: cover;
  background-position: center;
}
.interest_content > * {
  background-color: var(--_secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .interest_content {
    font-size: 10px;
    color: white;
    grid-template-areas:
      "medium medium medium medium medium medium"
      "medium medium medium medium medium medium"
      "small  small small tall tall tall"
      "small small small tall tall tall"
      "large large large medium2 medium2 medium2"
      "large large large medium2 medium2 medium2"
      "wide wide wide wide wide wide"
      "wide wide wide wide wide wide";
    grid-gap: 0.2rem;
  }
  h3 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
  }
}
